In [1]:
#importing libraries
import pandas as pd
import mysql.connector
import numpy as np
from decimal import Decimal
from datetime import datetime
import re

In [2]:
# csv to dataframe
data1=pd.read_csv("scraped_bus_data_KEARALA.csv")
data2=pd.read_csv("scraped_bus_data_ANDHRA.csv")
data3=pd.read_csv("scraped_bus_data_GOA.csv")
data4=pd.read_csv("scraped_bus_data_HARYANA.csv")
data5=pd.read_csv("scraped_bus_data_RAJASTAN.csv")
data6=pd.read_csv("scraped_bus_data_SOUTHBENGAL.csv")
data7=pd.read_csv("scraped_bus_data_WESTBENGAL.csv")
data8=pd.read_csv("scraped_bus_data_ASSAM.csv")
data9=pd.read_csv("scraped_bus_data_TELUNGANA.csv")
data10=pd.read_csv("scraped_bus_data_UTTRAPRADESH.csv")

Final_data_REDBUS=pd.concat([data1,data2,data3,data4,data5,data6,data7,data8,data9,data10],ignore_index=True)

In [3]:
Final_data_REDBUS

,route_link,route_name,Bus_Name,Bus_Type,Departing_Time,Duration,Reaching_Time,Star_Rating,Price,Seat_Availability
0,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode,KSRTC (Kerala) - 789,Super Fast Non AC Seater (2+3),20:00,08h 25m,04:25,3.4\n68,INR 473,7 Seats available
1,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode,KSRTC (Kerala) - 1585,Super Express Non AC Seater Air Bus (2+2),20:31,09h 05m,05:36,3.9\n53,INR 832,18 Seats available
2,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode,KSRTC (Kerala) - 1586,Super Express Non AC Seater Air Bus (2+2),21:31,09h 05m,06:36,3.6\n33,INR 832,29 Seats available
3,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode,KSRTC (Kerala) - 2133,Swift Deluxe Non AC Air Bus (2+2),22:12,09h 24m,07:36,4.2\n17,INR 832,11 Seats available
4,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode,KSRTC (Kerala) - 2063,SWIFT-GARUDA A/C SEATER BUS,22:32,09h 03m,07:35,3.8\n46,INR 945,15 Seats available
...,...,...,...,...,...,...,...,...,...,...
3043,https://www.redbus.in/bus-tickets/dehradun-to-...,Dehradun to Bareilly,UPSRTC - CBG0093,Pink Express AC Seater 2+2,19:16,07h 29m,02:45,2.6\n9,INR 840,39 Seats available
3044,https://www.redbus.in/bus-tickets/dehradun-to-...,Dehradun to Bareilly,UPSRTC - RKD0057,Ordinary Non AC Seater 2+3,19:31,07h 29m,03:00,3.1\n4,INR 517,52 Seats available
3045,https://www.redbus.in/bus-tickets/dehradun-to-...,Dehradun to Bareilly,UPSRTC - RKD0135,Janrath AC Seater 2+3,22:31,07h 30m,06:01,2.4\n39,INR 652,48 Seats available
3046,https://www.redbus.in/bus-tickets/dehradun-to-...,Dehradun to Bareilly,Vijay Tour and Travels,Bharat Benz A/C Seater /Sleeper (2+1),15:30,07h 40m,23:10,2.9\n17,664,39 Seats available
3047,https://www.redbus.in/bus-tickets/dehradun-to-...,Dehradun to Bareilly,Mahalaxmi Travels,Bharat Benz A/C Seater /Sleeper (2+1),17:00,08h 45m,01:45,3.6,INR 599,35 Seats available

In [4]:
# change dataframe to csv
Final_data_REDBUS.to_csv('FINAL_DATA_CAPSTONE_1.csv',index=False)

# Data cleaning

In [5]:
# data about the data
Final_data_REDBUS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3048 entries, 0 to 3047
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   route_link         3048 non-null   object
 1   route_name         3048 non-null   object
 2   Bus_Name           3048 non-null   object
 3   Bus_Type           3048 non-null   object
 4   Departing_Time     3048 non-null   object
 5   Duration           3048 non-null   object
 6   Reaching_Time      3048 non-null   object
 7   Star_Rating        3048 non-null   object
 8   Price              3048 non-null   object
 9   Seat_Availability  3048 non-null   object
dtypes: object(10)
memory usage: 238.3+ KB

In [6]:
# price into decimal;

# Remove "INR" and convert prices to Decimal
Final_data_REDBUS["Price"] = Final_data_REDBUS["Price"].str.replace("INR", "").str.strip()

# Convert prices to Decimal
Final_data_REDBUS["Price"] = Final_data_REDBUS["Price"].apply(lambda x: Decimal(x) if x else Decimal(0))

# Fill NaN values with 0
Final_data_REDBUS["Price"] = Final_data_REDBUS["Price"].fillna(Decimal(0))

In [7]:
# star_Rating to Float

# Remove "New" from Ratings
Final_data_REDBUS["Star_Rating"] = Final_data_REDBUS["Star_Rating"].str.replace("New", "")

# Strip any extra spaces
Final_data_REDBUS["Star_Rating"] = Final_data_REDBUS["Star_Rating"].str.strip()

# Take the first part (before any space) assuming it's the numeric rating
Final_data_REDBUS["Star_Rating"] = Final_data_REDBUS["Star_Rating"].str.split().str[0]

# Convert to float, coerce any invalid values (non-numeric) into NaN
Final_data_REDBUS["Star_Rating"] = Final_data_REDBUS["Star_Rating"].astype(float)

# Fill NaN values with 0
Final_data_REDBUS["Star_Rating"].fillna(0, inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_8292\4048075700.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Final_data_REDBUS["Star_Rating"].fillna(0, inplace=True)

In [8]:
Final_data_REDBUS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3048 entries, 0 to 3047
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   route_link         3048 non-null   object
 1   route_name         3048 non-null   object
 2   Bus_Name           3048 non-null   object
 3   Bus_Type           3048 non-null   object
 4   Departing_Time     3048 non-null   object
 5   Duration           3048 non-null   object
 6   Reaching_Time      3048 non-null   object
 7   Star_Rating        3048 non-null   float64
 8   Price              3048 non-null   object
 9   Seat_Availability  3048 non-null   object
dtypes: float64(1), object(9)
memory usage: 238.3+ KB

In [9]:
# replacing the nan value
Final_data_REDBUS = Final_data_REDBUS.replace({np.nan: None})

In [10]:
# change dataframe to csv
Final_data_REDBUS.to_csv('CAPSTONE_1.CSV',index=False)

In [11]:
REDBUS = pd.read_csv("CAPSTONE_1.CSV")

In [12]:
REDBUS

,route_link,route_name,Bus_Name,Bus_Type,Departing_Time,Duration,Reaching_Time,Star_Rating,Price,Seat_Availability
0,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode,KSRTC (Kerala) - 789,Super Fast Non AC Seater (2+3),20:00,08h 25m,04:25,3.4,473.0,7 Seats available
1,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode,KSRTC (Kerala) - 1585,Super Express Non AC Seater Air Bus (2+2),20:31,09h 05m,05:36,3.9,832.0,18 Seats available
2,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode,KSRTC (Kerala) - 1586,Super Express Non AC Seater Air Bus (2+2),21:31,09h 05m,06:36,3.6,832.0,29 Seats available
3,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode,KSRTC (Kerala) - 2133,Swift Deluxe Non AC Air Bus (2+2),22:12,09h 24m,07:36,4.2,832.0,11 Seats available
4,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode,KSRTC (Kerala) - 2063,SWIFT-GARUDA A/C SEATER BUS,22:32,09h 03m,07:35,3.8,945.0,15 Seats available
...,...,...,...,...,...,...,...,...,...,...
3043,https://www.redbus.in/bus-tickets/dehradun-to-...,Dehradun to Bareilly,UPSRTC - CBG0093,Pink Express AC Seater 2+2,19:16,07h 29m,02:45,2.6,840.0,39 Seats available
3044,https://www.redbus.in/bus-tickets/dehradun-to-...,Dehradun to Bareilly,UPSRTC - RKD0057,Ordinary Non AC Seater 2+3,19:31,07h 29m,03:00,3.1,517.0,52 Seats available
3045,https://www.redbus.in/bus-tickets/dehradun-to-...,Dehradun to Bareilly,UPSRTC - RKD0135,Janrath AC Seater 2+3,22:31,07h 30m,06:01,2.4,652.0,48 Seats available
3046,https://www.redbus.in/bus-tickets/dehradun-to-...,Dehradun to Bareilly,Vijay Tour and Travels,Bharat Benz A/C Seater /Sleeper (2+1),15:30,07h 40m,23:10,2.9,664.0,39 Seats available
3047,https://www.redbus.in/bus-tickets/dehradun-to-...,Dehradun to Bareilly,Mahalaxmi Travels,Bharat Benz A/C Seater /Sleeper (2+1),17:00,08h 45m,01:45,3.6,599.0,35 Seats available

# Create a mysql database

In [13]:
#sql connection
conn=mysql.connector.connect(host="localhost", user="root", password="root",database="redbus_data")
my_cursor = conn.cursor()

In [14]:
# Table Creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS bus_routes(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  route_link VARCHAR(200),
                  route_name VARCHAR(200),
                  Bus_Name VARCHAR(150),
                  Bus_Type VARCHAR(150),
                  Departing_Time TIME,
                  Duration VARCHAR(150),
                  Reaching_Time TIME,
                  Star_Ratings Float,
                  Price decimal,
                  Seat_Availability VARCHAR(150)
                  )''')
print("Table Created successfully")

Table Created successfully

In [15]:
insert_query = '''INSERT INTO bus_routes(
                  route_link,
                  route_name,
                  Bus_Name,
                  Bus_Type,
                  Departing_Time,
                  Duration,
                  Reaching_Time,
                  Star_Ratings,
                  Price,
                  Seat_Availability)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''

data = REDBUS.values.tolist()

my_cursor.executemany(insert_query, data)

conn.commit()

print("Values inserted successfully")

Values inserted successfully